@import './tailwind.css';

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background: #333;
  color: white;
}

.cell-size {
  @media screen and (max-width: 500px) {
    height: 35px;
    width: 35px;
  }
  height: 40px;
  width: 40px;
}
